.gridtable {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
  //grid-template-columns: repeat(6, 1fr);
    grid-template-columns:  40px 100px 40px 400px 40px  40px 40px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}